# Create Database

In [ ]:
import pandas as pd
import sqlite3

%load_ext sql

In [3]:
con = sqlite3.connect('data/Database.db')
cur = con.cursor()

In [4]:
%sql sqlite:///data/Database.db

# BookShop

Create the table

In [5]:
query = '''
            CREATE TABLE BookShop ( BOOK_ID VARCHAR(4) NOT NULL, 
                                    TITLE VARCHAR(100) NOT NULL, 
                                    AUTHOR_NAME VARCHAR(30) NOT NULL, 
                                    AUTHOR_BIO VARCHAR(250),
                                    AUTHOR_ID INTEGER NOT NULL, 
                                    PUBLICATION_DATE DATE NOT NULL, 
                                    PRICE_USD DECIMAL(6,2) CHECK(Price_USD>0) NOT NULL);
        '''
cur.execute(query)

Insert sample data into the table

In [6]:
query = '''
            INSERT INTO BookShop 
            VALUES  ('B101', 'Introduction to Algorithms', 'Thomas H. Cormen', 'Thomas H. Cormen is the co-author of Introduction to Algorithms, along with Charles Leiserson, Ron Rivest, and Cliff Stein. He is a Full Professor of computer science at Dartmouth College and currently Chair of the Dartmouth College Writing Program.', 123 , '2001-09-01', 125),
                    ('B201', 'Structure and Interpretation of Computer Programs', 'Harold Abelson', 'Harold Abelson, Ph.D., is Class of 1922 Professor of Computer Science and Engineering in the Department of Electrical Engineering and Computer Science at MIT and a fellow of the IEEE.', 456, '1996-07-25', 65.5),
                    ('B301', 'Deep Learning', 'Ian Goodfellow', 'Ian J. Goodfellow is a researcher working in machine learning, currently employed at Apple Inc. as its director of machine learning in the Special Projects Group. He was previously employed as a research scientist at Google Brain.', 369, '2016-11-01', 82.7),
                    ('B401', 'Algorithms Unlocked', 'Thomas H. Cormen', 'Thomas H. Cormen is the co-author of Introduction to Algorithms, along with Charles Leiserson, Ron Rivest, and Cliff Stein. He is a Full Professor of computer science at Dartmouth College and currently Chair of the Dartmouth College Writing Program.', 123, '2013-05-15', 36.5),
                    ('B501', 'Machine Learning: A Probabilistic Perspective', 'Kevin P. Murphy', '', 157, '2012-08-24', 46);
        '''
cur.execute(query)

In [7]:
query = '''
            SELECT * 
            FROM BookShop;
        '''
df = pd.read_sql_query(query, con)
df

,BOOK_ID,TITLE,AUTHOR_NAME,AUTHOR_BIO,AUTHOR_ID,PUBLICATION_DATE,PRICE_USD
0,B101,Introduction to Algorithms,Thomas H. Cormen,Thomas H. Cormen is the co-author of Introduct...,123,2001-09-01,125.0
1,B201,Structure and Interpretation of Computer Programs,Harold Abelson,"Harold Abelson, Ph.D., is Class of 1922 Profes...",456,1996-07-25,65.5
2,B301,Deep Learning,Ian Goodfellow,Ian J. Goodfellow is a researcher working in m...,369,2016-11-01,82.7
3,B401,Algorithms Unlocked,Thomas H. Cormen,Thomas H. Cormen is the co-author of Introduct...,123,2013-05-15,36.5
4,B501,Machine Learning: A Probabilistic Perspective,Kevin P. Murphy,,157,2012-08-24,46.0

In [8]:
con.commit()

In [9]:
con.close()